#while I was finishing the choose-your-own-adventure project, I realized I didn't know how I could run a test on my text-based project because it was all input based from the user. I went to the office hours on tuesday to get help from the TA's on writing tests and they looked at mine and one other person who had a Chatbot project which was also based on user input, and told both he and I that we cannot write tests with the way our projects are designed and would have to write out a "VERRRRYY detailed requirements.txt file explaining how each of your functions take an input from the user." I then asked Vincent as well how I could write a test, and he was also stumped. 

#My project is a narrative, text-based, choose-your-own-adventure game. I created a narrative in which each function acts as a means of choosing the behavior of the character and thus outcome of the game. The functions consist of while loops that go through each possible input from the user and consequently calls the function that will take them down their next path, or loops back to the beginning of the function to ask the user to input again if it was not a recognizeable input. This continues through 5 functions until the end, where the user either wins and is prompted to play again or dies and is prompted to restart. Writing a test would've required altering my project to do random, irrelevant things that detracted from the narrative and defeated the purpose. I really tried hard, seeked help, and asked multiple sources for alternatives. In the end I had to follow the TA's advice and write this explanation! Thank you for reading it, I hope it all makes sense! 